<div >
    <p>Vous avez été inscrit avec succès, veuillez cliquer sur ce lien pour activer votre compte  -
        <a href="{{ url('confirm_registration',{'id':id}) }}">Activer mon compte</a>
    </p>
</div>