{% extends '@App/user_base.html.twig' %}

{% block title %} {{ parent() }} Afficher message {% endblock %}
{% block main %}
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                   Le messages
                </div>
            </div>
        </div>
    </div>
{% endblock %}
